<div
  class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6 mt-4"
>
  <div class="flex flex-1 justify-between sm:hidden">
    <button
      [disabled]="isFirstPage()"
      (click)="changePage(currentPage() - 1)"
      class="disabled:opacity-50 relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
    >
      Anterior
    </button>
    <button
      [disabled]="isLastPage()"
      (click)="changePage(currentPage() + 1)"
      class="disabled:opacity-50 relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
    >
      Siguiente
    </button>
  </div>
  <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
    <div>
      <p class="text-sm text-gray-700">
        Mostrando página <span class="font-medium">{{ currentPage() }}</span> de
        <span class="font-medium">{{ lastPage() }}</span>
      </p>
    </div>
    <div>
      <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
        <button
          [disabled]="isFirstPage()"
          (click)="changePage(currentPage() - 1)"
          class="disabled:opacity-50 relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
        >
          Anterior
        </button>
        <button
          [disabled]="isLastPage()"
          (click)="changePage(currentPage() + 1)"
          class="disabled:opacity-50 relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
        >
          Siguiente
        </button>
      </nav>
    </div>
  </div>
</div>
