<div class="form-control w-full">
  @if (label()) {
    <label class="label">
      <span class="label-text font-medium text-base-content/80">
        {{ label() }}
        @if (required()) { <span class="text-error">*</span> }
      </span>
    </label>
  }

  <div class="relative flex items-center w-full">
    @if (icon()) {
      <div class="absolute left-4 text-base-content/40 pointer-events-none flex items-center justify-center z-10">
        <i [ngClass]="['pi', icon(), 'text-lg']"></i>
      </div>
    }

    <input
      [type]="type()"
      [placeholder]="placeholder()"
      [required]="required()"
      [(ngModel)]="value"
      class="input input-bordered w-full bg-base-100 focus:input-primary transition-all duration-200"
      [ngClass]="{ 'pl-12': icon() }"
      [disabled]="disabled()"
    />
  </div>
</div>